<div class="d-flex justify-content-center">
	<app-slider></app-slider>
</div>

<h2>Xe toyota</h2>
<div class="d-flex justify-content-center">
	<div class="row">
		<div class="col-4">
			<app-item-oto></app-item-oto>
		</div>

		<div class="col-4">
			<app-item-oto></app-item-oto>
		</div>

		<div class="col-4">
			<app-item-oto></app-item-oto>
		</div>

		<div class="col-4">
			<app-item-oto></app-item-oto>
		</div>
        
		<div class="col-4">
			<app-item-oto></app-item-oto>
		</div>
	</div>
</div>